[2016-04-08 02:49] Zidane opened #1 "Need better quality pictures of sponsor logos"

[2016-04-08 02:49] Zidane opened #2 "Backgrounds for main page are inconsistent"
Basically the backgrounds need work. Looking for ideas from the community...

[2016-04-08 02:50] Zidane opened #3 "Adjust navbar to be consistent with Forums/Docs/Ore"

[2016-04-08 02:50] Zidane opened #4 "Polish icons"
@Tzky @Owexz

Thinking you two were going to work on this.

[2016-04-08 02:52] Zidane opened #5 "[Sponsors] Inconsistent Backgrounds"
Need to work on background usage here, too.

@Tzky thoughts?

[2016-04-08 02:54] Zidane opened #6 "[Sponsors] Text formatting inconsistent in numerous areas"
Need to look into cleaning up the formatting on the sponsors page to be more consistent and more visually appealing.

[2016-04-08 13:04] Tzky commented on #3
The navbar should be consitent with the bar on the forums, docs still has minor differences to the forums which i need to sort out.

[2016-04-08 16:12] jamierocks opened #7 "Templating engine"
Unless you have decided against using one, using a templating engine (such as Jekyll) would save time in the long run, and in Jekyll's case not only with HTML templates but with builtin scss support, etc.

[2016-04-08 22:33] Aaron1011 commented on #6
IMHO, one of the main issues is the contrast between the text and the sliding/moving background images. While they look amazing, it's often very difficult to read the text (particularly the string "SPONSORS", and the entire "Announcements" section).

[2016-04-08 23:36] Snowboardpvp commented on #1
Yeah, I agree with this. Most of them are kind of decent, but BeastNode's looks dreadful. It is also kind of hard to read some of them in general in front of parts of the background they are placed over.

[2016-04-08 23:53] Snowboardpvp commented on #3
@Tzky It does seem consistent in most aspects, but to me there are still some inconsistencies.
- The highlighting when you hover over "Sponge" does not go far enough to the left. I cannot tell exactly, but it does not seem to go far enough to the right either. As a result, the dropdown is not of the right width either.
- The Sponge logo on the navbar, when you have the website at a lower width(suc

[2016-04-09 02:47] MichaelHillcox opened #10 "Highly suggest using sass"
Title says it all. Its much better for pages like this. Variables and other very useful tools.

[2016-04-09 08:19] jamierocks opened #11 "Mobile support"
![image](https://cloud.githubusercontent.com/assets/5103549/14403100/bfdb2f26-fe42-11e5-911f-340295fed393.png)

I experimented around and the following should work.
[code]

With those changes in place you get: ![image](https://i.lexteam.xyz/Kk0gtpD7T8.png)

[2016-04-09 10:24] jamierocks commented on #10
If a preprocessor is to be used there should probably be some sort of discussion as to which one it should be: scss vs sass vs less etc.

[2016-04-09 10:52] MichaelHillcox commented on #10
Sass is the nicest to work with but not the most powerful if you want raw power then we should look at less. Other wise you are looking at scss but it's a little less nice to work with. Sass is that nice cosy middle ground.

[2016-04-09 11:10] jamierocks commented on #10
I actually tend to use scss, but don't have all too much reason for using except bourbon/neat/bitters uses it :P

[2016-04-09 11:18] MichaelHillcox commented on #10
I would suggest looking into sass a little more. I know some people hate the 'there is no syntax' thing but at the same time they have strict rules for formating that are easy to follow and the code ( in my opinion ) looks very tidy. I am a neat freak so that is very important.

[2016-04-09 11:23] jamierocks commented on #10
Yeah it does look neat - probably something I should take a look in in greater detail.

[2016-04-09 12:26] MichaelHillcox commented on #11
I'm on it. I don't know why I am working on this now but meh. Might as well. Not nothing else on the books

[2016-04-09 12:27] MichaelHillcox commented on #3
@Snowboardpvp I've fixed all those issues in my #9

[2016-04-09 15:01] MichaelHillcox commented on #11
I've slightly improve upon this. Those Icons layouts are very odd :P

[2016-04-09 16:14] MichaelHillcox commented on #10
@jamierocks I've actually added it into my pull request #9 Have a look if you would like.

[2016-04-09 21:51] Tzky opened #13 "Use icon font for social icons instead of images"
Replace social link images with FA

[2016-04-09 22:59] Owexz commented on #1
Fixed as of #9

[2016-04-09 23:01] Zidane commented on #1
This isn't fixed as the Nitrous logo was switched to a red one. What is their official logo? They should be contacted and asked about the one they want.

[2016-04-09 23:07] Owexz commented on #1
The red version is Nitrous Network's new logo as found across their sites:
https://nitrous-networks.com/
https://twitter.com/nitrousnetworks
https://www.facebook.com/NitrousNetworks

They will be contacted regardless to enquire as to their preference however.

[2016-04-10 01:02] Zidane opened #14 "[Sponsors] Re-work page to flow a bit better and be more inviting to potential sponsors"
We've got the content but its just a massive wall of text + a few background changes. Its not inviting to potential sponsors and frankly does a poor job of making someone WANT to sponsor Sponge (beyond the obvious).

Bringing in @mcsnetworks to this as he should be involved with how the page flows, reads, and looks.

Pretty much, I see the following as needed:

- [ ] Revise backgrounds entirely
-

[2016-04-10 01:03] Zidane commented on #6
Closing this in favor of https://github.com/SpongePowered/SpongeHome/issues/14

[2016-04-10 01:03] #6 closed

[2016-04-10 01:03] Zidane commented on #6
BUT Michael did fix much of the original concerns.

[2016-04-10 01:03] Zidane commented on #14
I welcome thoughts and ideas...especially if peeps have any mockups or such.

[2016-04-10 01:04] Zidane commented on #5
Closing in favor of https://github.com/SpongePowered/SpongeHome/issues/14

[2016-04-10 01:04] #5 closed

[2016-04-10 01:06] Zidane commented on #3
@MichaelHillcox

You've brought the navbar very close to the forums (if not identical, need to check). This is an issue we have across all the web projects and I'm working to unify the navbar across them all.

[2016-04-10 01:08] Zidane commented on #10
Closing this as it already happened in @MichaelHillcox 's PR.

[2016-04-10 01:08] #10 closed

[2016-04-10 01:10] Zidane opened #15 "Automatically pull latest two announcement pages from Forums"
@MichaelHillcox

Unsure if you've got experience with this but ideally the Announcements section would also pull from the latest two announcement posts from the forums and render a snippet of the text here. Definitely don't want to make it a long term goal of having @Owexz or whoever have to hand edit to do this.

[2016-04-10 09:10] Tzky commented on #3
At least Forums and docs should be consistent for now, spongehome is next :)

[2016-04-10 09:59] Tzky opened #16 "Add build instructions to readme"
The readme is missing information about sass, we need to add build instructions.

[2016-04-10 11:51] MichaelHillcox commented on #15
@Zidane I can do this. You are using Discourse for your forums right. If so then that makes it slightly more tricky. Just because its all ruby. I could hook into the postgres database and just pull the data from that using php or some other backend language. In logic it should be easy ( famous last words ). I may need to privately talk to you guys at Sponge to talk more about doing this :)

[2016-04-10 11:53] MichaelHillcox commented on #3
@Zidane Tell me what it is and I'll get it fixed up :)

[2016-04-10 12:12] MichaelHillcox commented on #14
@Zidane I can work on this today. I can make the page look a lot tidier and to the point. I will move away from the background idea. For the homepage that is great but not for a sponsors. I will push it to #17

[2016-04-10 12:16] MichaelHillcox commented on #13
@Tzky in my last push #9 I moved us away from FontAwesome. Not that I have anything against it. Just that it was not constant with the forums and docs etc. We are not on Fontello which matches the forums. To rectify this I have changed the colour of the original ones to make them all look a little nicer. https://github.com/MichaelHillcox/SpongeHome/commit/fb28ee8a19e8e78d51a659cc9a1b3ed4b89c3ae0

[2016-04-10 12:24] MichaelHillcox commented on #1
@Zidane Yeah, I changed it to red because thats the one they are currently using.

[2016-04-10 12:25] MichaelHillcox commented on #4
What icons? I may have already fixed this in #9

[2016-04-10 13:05] Tzky commented on #13
Oh, it doesn't need to be FA, any icon font is fine. I'd just like to get the images replaced.

[2016-04-10 13:12] MichaelHillcox commented on #13
@Tzky I can find the reddit icon on any font. Even FA don't have it. and then nothing seems to have twitch other than FA the images are fine at the moment or do you not like them?

[2016-04-10 13:42] MichaelHillcox commented on #14
@Zidane I should have greatly improved it for you guys

[2016-04-10 13:46] Tzky commented on #13
According to fontello.com FA 4.3.0 has reddit and twitch.

I'd prefer an icon font instead of images because a) it improves loading times b) it keeps the size of the page down c) we use icon fonts anyways

[2016-04-10 13:49] MichaelHillcox commented on #13
Okay, I'll merge FA back into the site and swap over the icons.

[2016-04-10 14:00] MichaelHillcox commented on #13
That should fix it. Its in my #17

[2016-04-10 14:06] jamierocks commented on #15
Why would you go about doing it that way?
Discourse has an API (albeit a shitty one).

It needs to be decided whether we will pull the data client or server side

[2016-04-10 14:08] MichaelHillcox commented on #15
Hmm, Oh yeah. Just remembered. It does have an api. I will take a look now. I run a local version of Discourse. I will see if I can get something to work out. I will write some javascript to see if I can work with it. If it is a shitty one I may stuggle. If I was to pull from the database then it would be serverside but if we can get the api to work then we can do it client side.

[2016-04-10 14:15] Tzky commented on #16
Resolved in #18

[2016-04-10 14:15] #16 closed

[2016-04-10 19:39] kenzierocks opened #24 "classie.js errors"
Doesn't seem to happen every time, but occasionally this pops up in the JS console: `classie.js:33 Uncaught TypeError: Cannot read property 'classList' of null`.

[2016-04-10 19:43] Tzky opened #25 "Add license to repo and pages"
We need to choose a license for the landing page.

[2016-04-11 03:27] gabizou commented on #1
I would also request a better quality version of BeastNode's logo as the font used in the current version is not matching what's on their website.

[2016-04-11 09:52] gabizou opened #26 "Dynamic width text is a little overreactive"
Compare the following:
![smaller](http://puu.sh/oeaGK/98970b12e2.png)
![larger](http://puu.sh/oeaHI/8059aaed9c.png)

The first image is the website in a smaller width sized window, while expanding the window just past that width will cause the text to crop up on the side and still only take 25% of the space.

[2016-04-11 10:44] Tzky commented on #14
I pulled @MichaelHillcox changes to the sponsors page in. Does it resolve this issue?
e35426bbdf1e992dd782f6818cb9293257cac4ac

[2016-04-11 10:45] Tzky commented on #13
Resolved in b97d0c1b585f5fd1d014ed860f5f232b5afd3ad1 , we're using FontAwesome for now.

[2016-04-11 10:45] #13 closed

[2016-04-11 13:06] jamierocks opened #28 "Make Spongie dance"
Like the current site, Spongie should dance.

I will take a look how the current site does it, and maybe make a pr.

[2016-04-11 13:09] jamierocks commented on #28
Looking at the current site this looks rather easy.

[2016-04-11 16:03] mcsnetworks opened #30 "Change line under "Sponge""
Recommend changing:   "A New Minecraft Modding API"

to

"A community driven open source Minecraft modding platform."

90% of the community doesn't know what API even means.

[2016-04-11 17:17] Tzky commented on #30
I'm not happy with the current slogan either. Your suggestion is by far better.

[2016-04-12 08:48] gabizou opened #31 "Replace landing background"
The landing background while good is not using the same yellow as SpongePowered officially uses. We have a brand to maintain, let's keep it consistent.

[2016-04-12 08:53] gabizou opened #32 "Better wording"
"Our Team has decades of collective experience of working on Minecraft."
This sounds like complete bull with regards to how many people actually work on the project and the collective experience. If anything, this shouldn't make the same sort of language claim that manufacturers make with hard drives where they last "over a hundred thousand hours." which is a farce at best.

[2016-04-13 01:15] gabizou opened #33 "Move Social Media buttons as smaller icons"
Social media buttons don't need to take so much space of the website, in fact they could just sit right below the main Sponge logo (or simply on the side of the website).

[2016-04-13 22:19] progwml6 commented on #25
this should probably be MIT to be consistent with our other projects unless we want to be more selective with the licensing for our branding

[2016-04-13 22:52] #30 closed

[2016-04-13 22:56] progwml6 commented on #32
I think mentioning diverse backgrounds from different parts of the MC & gaming communities might be a better fit for this location.

[2016-04-13 23:53] progwml6 commented on #31
@gabizou is any particular site considered the authoritive one in regards to coloring & the CSS?

[2016-04-14 00:30] #28 closed

[2016-04-14 00:39] progwml6 commented on #15
@MichaelHillcox the current site is using restler from NPM to gather this json
https://forums.spongepowered.org/c/announcements.json?order=created

[2016-04-14 01:56] progwml6 commented on #24
its been consistently in my js console on chrome on my macbook
classy is being used by this file
 https://github.com/SpongePowered/SpongeHome/blob/master/assets/js/cbpAnimatedHeader.js

[2016-04-14 07:21] jamierocks commented on #15
I might do this tonight ;)

[2016-04-14 15:49] jamierocks commented on #15
We're probably best doing this server side - Golang anyone?

[2016-04-14 17:19] progwml6 commented on #15
Why not just keep the entire project in node?

[2016-04-14 17:23] jamierocks commented on #15
It's not in Node at the moment? :P

[2016-04-14 17:33] progwml6 commented on #15
We are using npm  to handle Dev dependencies for gulp @jamierocks

Additionally, I'm not sure how much internal experience we have with golang.

[2016-04-14 18:01] Tzky commented on #33
I made them smaller for now. I'm not sure where we should relocate them. I made a quick test with them just below the main logo and it didn't look nice. If you still feel they should get relocated let me know.

[2016-04-14 18:04] jamierocks commented on #15
I know about Gulp - I set it up :p

What I meant was we weren't using it for the site.

[2016-04-14 19:01] progwml6 commented on #15
If we went with JavaScript some of the old sites active logic could be used if we were interested.

[2016-04-14 19:04] jamierocks commented on #15
I'm not that big of a fan of using nodejs for web myself, not that it'd be hard to remake the logic either.

[2016-04-14 19:06] progwml6 commented on #15
My main concern with go is supporting it as less people know it. What other options do we have that people are comfortable with?

[2016-04-14 19:13] jamierocks commented on #15
Hmm, I'd say the big options are:
- [go-macaron](https://go-macaron.com/) (Golang)
- [Express](http://expressjs.com/) (Node)
- [Laravel](https://laravel.com/) (PHP)
- [Django](https://www.djangoproject.com/) or [Flask](http://flask.pocoo.org/) (Python)
- [Play Framework](https://playframework.com/) (Scala / Java)

[2016-04-14 19:47] progwml6 commented on #15
Not a fan of php though I can use it a little bit, and I don't know go/scala. I'd be able to work with the other options if we went for them.

[2016-04-14 19:57] jamierocks commented on #15
Yeah, not sure if anyone is a fan of PHP :P Don't like the Play Framework (and Scala) either.

To be honest Go is a really easy language to pick up and has a lot of very well designed libraries (example: go-macaron) - perhaps we should find out how many developers know Go? (I know myself and lukegb know)

And also most of the site's development is going to be for the content, do whatever language

[2016-04-14 20:12] progwml6 commented on #15
I don't object to learning go if needed it's a language high on my list of things to play with.

[2016-04-14 20:32] Tzky commented on #15
Just for reference: the current landing page relies on npm/node.js.

EDIT: Oh, and Express.

[2016-04-14 20:50] progwml6 commented on #15
In case this is useful: it's also using ejs, and less for css

@Tzky do you have any language preferences/ opinions?

[2016-04-14 20:57] jamierocks commented on #15
My ideal solutions would be:
- go-macaron (lang)
- scss (css)
- gulp (compiling scss)
- https://github.com/flosch/pongo2 (https://github.com/go-macaron/pongo2)

[2016-04-14 21:59] Tzky commented on #15
I have no preference as i'm not a webdev in the first place.
I don't know js, go or php, so it's difficult for me to pick one out of this list.

The docs theme uses stylus instead of less or sass, too.

[2016-04-14 22:24] MichaelHillcox commented on #15
If it was me. Just reading from the for mentioned json output from the API. I would load it in client side with javascript or I would load it in with PHP. No one like PHP but it works and its simple and the majority if people can support it or run a local development server. PHP has much better support for json than pure Javascript does although Node.js does include a good amount of support for Js

[2016-04-14 22:40] progwml6 commented on #15
simple php can be done but i'd rather just use a real framework and templating to make this easier to maintain long run

[2016-04-14 22:49] MichaelHillcox commented on #15
@progwml6 I understand all of that. How much are you meaning to maintain?

[2016-04-14 23:02] progwml6 commented on #11
what about android & tablets?

[2016-04-14 23:04] jamierocks commented on #11
Oh that was example code - also although it specifically targets iPhones it works with most phones

[2016-04-15 07:47] Tzky commented on #11
Is this still a concern? I pulled some changes in a few days ago which changed some parts of the page.

[2016-04-15 08:00] Tzky commented on #15
I'd rather keep the footprint of the site small. So if we're using Node.js, why introduce PHP if there are good Node options available? I'm thinking about something like:
- Node.js
- jinja-like templating (for ex. Nunjucks http://mozilla.github.io/nunjucks/)
- Sass, Less or Stylus

The old (private) site repo has a good amount of code one could probably recycle to get the announcements working.

-

[2016-04-15 13:21] MichaelHillcox commented on #11
@Tzky I've mostly fixed it but its impossible to test all devices with out actually having them.

[2016-04-15 13:43] windy1 commented on #15
There's a template engine included in Play out of the box. ([Twirl](https://github.com/playframework/twirl))

[2016-04-15 13:53] MichaelHillcox commented on #15
@Tzky the Node.js we are running at the moment isn't server side. It's just a complier for the sass code. So we are not really using Node.js. As the moment we are only using pure html and css to do all the cool things with some Js to power some animations and page flow. I am still suggesting php just because its light and its easy to use. Attaching something like Node.js to power the loading of An

[2016-04-15 13:54] windy1 commented on #15
If you don't want to use a template engine you can use Ajax on the client to pull the posts from the forums using the Discourse API.

[2016-04-15 13:56] MichaelHillcox commented on #15
@windy1 This is likely one of the best options. We don't really need a template engine. It's only 3 html pages and only one part of one of the html pages needs to have updating content.

[2016-04-15 14:15] progwml6 commented on #15
We do update the sponsors from time to time which is why I'd prefer some more logic and templating to simplify controlling them. Adding new sponsors on this site involves going to different places where the current one is a single line in the main js file.

[2016-04-15 14:17] Tzky commented on #15
Michael: The current site is using js, which is why i suggested to stick to js for the new site.

Also regarding the templating: we can unify parts of the Docs theme and this page (specifically the topbar) plus the css.

[2016-04-15 14:26] progwml6 commented on #15
Unifying templating w/ ore likely won't work but I'm all for investigating unifying css and bootstrap stuff between ore/home if possible as well

[2016-04-15 14:29] progwml6 commented on #11
What did you check curiously as I'm sure we have someone around with other devices?

[2016-04-15 14:53] jamierocks commented on #11
Use the mobile view of Chrome (or whatever browser you use) :p

[2016-04-15 15:07] jamierocks commented on #15
@windy1 can't do that because of the cross site forging bullshit.

@Tzky just because the current sites uses node.js isn't that great of an argument

| Language | Framework | Good points |
| --- | --- | --- |
| Golang | go-macaron | Extremely fast. Unified package solution. On a whole the packages are very good - has some of the best designed packages of any of these languages. |
| Node | Express

[2016-04-15 15:58] windy1 commented on #15
@progwml6 You can use Twirl without Play if you are so inclined.

[2016-04-15 16:06] progwml6 commented on #15
It's probably best to use templates that work with the language being used for the backend.

If we went Java/scala using play itself would be the best option.

For this project I would personally prefer using node. Most of the code that would need to be written exists already for the current site.
Following that I'd be fine w/ go or using play in Java.

[2016-04-15 16:56] jamierocks commented on #15
I started a pr using Golang ;)

[2016-04-16 15:17] Tzky opened #35 "Add short description of SF, SV and SpongeAPI below download links"
See title.

@windy1

Maybe:
SF: "The Sponge implementation that relies on Minecraft Forge"
SV: "The stand-alone Sponge Implementation"
API: "the API that drives Sponge"

[2016-04-16 15:52] jamierocks commented on #15
https://github.com/SpongePowered/SpongeHome/commit/6a237724e7e782b6220811473f6708ee55bd301c

[2016-04-16 15:52] #15 closed

[2016-04-16 15:52] jamierocks commented on #7
https://github.com/SpongePowered/SpongeHome/commit/6a237724e7e782b6220811473f6708ee55bd301c

[2016-04-16 15:52] #7 closed

[2016-04-16 17:06] lukegb opened #37 "Needs a Dockerfile"
Someone (maybe me) needs to create a Dockerfile for this.

[2016-04-16 17:07] progwml6 commented on #37
a www-staging site or something similar would be useful as well until this site is ready for production

[2016-04-16 18:29] mbax commented on #32
"Hours of collective experience playing Minecraft."

[2016-04-16 18:52] Zidane commented on #25
I agree on MIT but the assets need to be some other license.

Thoughts?

@SpongePowered/contributors
@SpongePowered/developers

[2016-04-16 19:12] liach commented on #25
creative commons?

[2016-04-16 19:22] Tzky commented on #25
The assets still need their own repo, i'd choose a Creative commons license there. The page itself should become mit, like the whole project.

[2016-04-16 20:34] #24 closed

[2016-04-16 22:50] Tzky commented on #37
@jamierocks has alteady setup a staging site:

http://www-sponge-staging.jamierocks.uk/

[2016-04-16 22:51] progwml6 commented on #37
its a good start however @Tzky it is not being auto built

[2016-04-16 22:53] Tzky opened #40 "Remove Entypo"
We're using FontAwesome now, so Entypo isn't needed anymore.

[2016-04-16 23:00] jamierocks commented on #40
I did that XD

[2016-04-16 23:00] progwml6 commented on #40
entypo was removed when we moved the assets to use cdnjs in commit https://github.com/SpongePowered/SpongeHome/commit/e4c8c6f077ef15fe804aeff37f2d4d72f454de01

[2016-04-16 23:00] #40 closed

[2016-04-17 06:08] Tzky commented on #40
Oh well. I must've overlooked that. Nvm then.

[2016-04-17 21:10] JBYoshi commented on #35
The API description should probably include something like "developers only" to clarify that it's not a server.

[2016-04-17 22:47] windy1 commented on #31
I kind of like [this](http://imgur.com/GGYlXvf) :p ([background](http://imgur.com/dBY7pj4))

[2016-04-18 12:41] Tzky commented on #31
@progwml6
Afaik the "official" Sponge yellow is #f6cf17

I'd take the topbar from the forums as the main one and change all the others. The first step i made towards the unified sites was porting the topbar from the forums to the docs. However the forums topbar is still Entypo based, we need to change that (@lukegb, maybe?)

[2016-04-18 20:39] Tzky opened #42 "make section top padding bigger"
Currently using the buttons on the top left of the topbar scrolls a bit too far. A possible solution is to either adjust the whole page to make it fit (add an offset) or just raise the top padding of each section.

[2016-04-24 10:19] ryantheleach opened #49 "Improve contrast between text and background."
![image](https://cloud.githubusercontent.com/assets/141554/14766787/895f2488-0a55-11e6-86b9-b9cb7679fa12.png)

![image](https://cloud.githubusercontent.com/assets/141554/14766790/9fb07e12-0a55-11e6-88e4-0f8b20254e0b.png)

[2016-04-24 10:20] Tzky commented on #49
Yes, we're aware of this issue. Especially the Enjin logo is almost unreadable.

[2016-04-25 14:08] Mumfrey opened #52 "Minor issues"
Whilst discussing the staging site during SPAM yesterday I noticed some minor off-brand issues with the site which should be pretty simple to rectify but aren't really big enough problems to create an issue for each one. Listing here with check marks for ease of use:

* [x] Some components (notably the "get sponge" buttons, and some body text) use `#2c3e50` which is an off-brand colour which is ba

[2016-04-25 14:34] Mumfrey opened #53 "Sponsor/Support Us flow is currently quite poor"
Split off from #52 because typing it out I realised it doesn't really count as a "minor issue":

* [ ] The *Sponsor / support us* flow is confusing as hell:

 The home page has an *Interested in Sponsoring Sponge* button which links to `/sponsors`, which makes sense. However it then has a button cryptically labelled *Support Us* with a random box next to it under the **About** heading which links

[2016-04-25 15:32] Zidane commented on #52
I agree on the animated spongie. It needs to go (sorry @jamierocks !)

[2016-04-25 15:34] jamierocks commented on #52
Alright I'll add that to #54 ;)

[2016-04-25 15:34] Zidane commented on #53
I love these descriptions above and I second your criticisms.

[2016-04-25 19:22] Mumfrey commented on #53
Frankly they can bin all of the text as long as we keep the term _Spongeoneer_ in there as far as I'm concerned :smile:

[2016-04-26 23:28] progwml6 commented on #31
fixed in https://github.com/SpongePowered/SpongeHome/commit/b71029615b711990eb126994c1e265e25b72bc07

[2016-04-26 23:28] #31 closed

[2016-04-27 06:27] Tzky opened #55 "Clarify setup and run instructions for Go noobs."
I'm currently trying to properly setup Go and SpongeHome plus run it and it doesn't work out well when following the instructions provided in the readme.

[2016-04-27 07:03] Tzky commented on #52
The only thing left now to get this resolved are the pulldown icons.
EDIT:
Should be resolved by giving the FA icons the `fa-fw` class for fixed width (bd2f430).

I'll close this issue for now as everything should be resolved.

[2016-04-27 07:24] jamierocks commented on #55
What part are you struggling with?

[2016-04-27 08:07] Tzky commented on #3
Bump. I just pushed some changes (bd2f430) to the navbar. It should almost be consistent with the Docs now.

Is this issue resolved now?

EDIT:
Navbar needs some fixing when using a mobile device. Specifically the 3 yellow buttons on the right are broken.

[2016-04-27 08:09] Tzky commented on #55
I've set it up now, but the instructions could get some love especially regarding `$gopath`

[2016-04-27 08:14] Tzky commented on #42
Looks like some commit in the past resolved this issue. It's no longer a concern. Closing this for now.

[2016-04-27 08:14] #42 closed

[2016-04-27 10:46] humaidq commented on #55
@Tzky Me too! But I figured it out after ~~some~~ lots of research.

[2016-04-27 11:35] Tzky commented on #55
Just to document which issues i was running into:
- `go get URL` wasn't working at first
- had to understand the folder structure of Go (which i wasn't forced to use later, but you never know...)
- had to add `$gopath` variable on win8.1x64

I somehow managed to get it into a working state though.

[2016-04-27 13:04] jamierocks commented on #55
The instructions seem clear enough for me - seems as if a different tutorial for installing Go would help.

[2016-04-27 21:50] JBYoshi opened #56 "Update the link to the live server"
The current link (https://rawgit.com/SpongePowered/SpongeHome/master/index.html) no longer works due to the Go setup.
![spongehome-url](https://cloud.githubusercontent.com/assets/12983479/14869301/238b6d66-0c98-11e6-8f36-7f169ed827e1.png)

[2016-04-27 22:02] jamierocks commented on #56
There is currently no official live server, however I have been running https://www-sponge-staging.jamierocks.uk/#page-top for my pull requests.

[2016-04-28 06:50] Tzky commented on #56
@Owexz can you remove the link? I have insufficient rights.

[2016-04-28 08:07] gabizou commented on #56
Done :)

[2016-04-28 11:22] #56 closed

[2016-04-28 23:11] #37 closed

[2016-04-28 23:38] progwml6 commented on #37
@lukegb jenkins jobs have been added for this repo as well

[2016-04-30 15:05] #35 closed

[2016-04-30 15:53] windy1 opened #61 "Style details"
Looking over the home page at https://www-sponge-staging.jamierocks.uk/#page-top I just have a few thoughts. (continuing from IRC)

* [x] The main [Spongie logo has incorrect proportions](https://cloud.githubusercontent.com/assets/755713/14937032/094baf32-0ec9-11e6-8cb8-4badd756948d.png) for my display at 1080p.
* [ ] Having Spongie across "Get Sponge" section 3 times seems odd to me. We should pr

[2016-04-30 15:58] jamierocks commented on #61
The first one seems to be an issue with Firefox's implementation of flexbox.

[2016-05-01 22:40] Tzky opened #65 "Download buttons need transitions too"
Currently the three download buttons (the yellow ones for SF,SV and API) don't have transitions while all other buttons on the index page have them. That needs fixing.

[2016-05-01 22:40] #33 closed

[2016-05-01 22:41] Tzky commented on #33
Closing for now, as there weren't any further complains about the (now smaller) social buttons

[2016-05-01 22:42] Tzky commented on #4
Bump. Which icons? Is this resolved?

[2016-05-01 22:42] Tzky commented on #1
Bump. Is this resolved?

[2016-05-01 22:43] Tzky commented on #2
We removed most parallax scrolling areas for better readability. I'll close this for now.

[2016-05-01 22:43] #2 closed

[2016-05-02 00:20] lukegb opened #66 "Fastly logo missing"
At the moment this is present on the live site but not on SpongeHome.

[2016-05-02 00:28] jamierocks commented on #66
That's on my todo for tomorrow ;)

[2016-05-02 06:17] Tzky commented on #65
This is already listed in #61. closing as duplicate

[2016-05-02 06:17] #65 closed

[2016-05-02 07:02] gabizou commented on #1
@Tzky what's the latest logos look like?

[2016-05-02 08:12] Tzky commented on #1
Yep, noticed that the font is still wrong...

[2016-05-02 21:35] Zidane commented on #66
Is it a requirement of their service to do so?

[2016-05-03 03:24] ZephireNZ commented on #11
I was told to post this here: http://i.imgur.com/Wg3V4V2.png

Nexus 5X running Marshmallow and Chrome 50

[2016-05-03 03:26] ZephireNZ commented on #11
The little black box is caused by pressing the hamburger button, which seems to be out of place. I imagine the hovering buttons were meant to be inside there instead.

[2016-05-03 05:08] gabizou opened #68 "Main logo is sized oddly"
The issue is mainly with Safari on Mac OS X:

![safari](http://puu.sh/oEtbB/767ee75aaa.png)

Versus Chrome:
![chrome](http://puu.sh/oEtbY/0bc10638cc.png)

[2016-05-03 05:12] windy1 commented on #68
This seems to be specific to Safari.

[2016-05-03 06:53] Tzky commented on #68
We had this issue with Firefox too, however @jamierocks managed to fix it.

[2016-05-03 07:14] jamierocks commented on #68
@tzky tgis is worse than the first issue - thinking I might know why it's happening though

[2016-05-03 07:15] Tzky commented on #11
@ZephireNZ yes, we're (or i am...) aware that the buttons and dropdown on the navbar are currently broken when viewing the page on mobile. I'll fix asap ;)

I broke mobile support when i added the new buttons.

[2016-05-03 07:16] jamierocks commented on #11
Yeah that's a bug with all mobiles currently

[2016-05-03 08:03] octo-byte opened #69 "Navigation button elements render below nav bar (Google Nexus 5X)"
You can emulate this phone in Chrome on Desktop

![Nexus 5X](https://i.imgur.com/SMtAC40.jpg)

[2016-05-03 08:09] Tzky commented on #69
This was already reported in #11. We're looking into it ;)

[2016-05-03 08:09] #69 closed

[2016-05-03 10:39] Aaron1011 opened #70 "Change color of 'Vanilla' in SpongeVanilla logo"
The word 'Vanilla' on the Get Sponge section's 'SpongeVanilla' part is a light-tan color. Unfortunately, it's almost unreadable due to the low contrast between it and the background.

[2016-05-03 10:43] jamierocks commented on #70
I'm no expert at design but perhaps a green or blue would be nice?

[2016-05-03 10:45] Tzky commented on #70
Tbh i'd like to have a consistent color across all three logos plus remove the Spongie face.
So maybe switch the red, purple and light-yellow to a single brand color?

[2016-05-03 12:29] humaidq commented on #70
I would prefer if these images were SVG and the colours could be easily swapped. I wish it was for all the images.

[2016-05-03 15:32] jamierocks commented on #70
I think that the different colours give them some difference, keeping them separated - for that I think the separate colours should remain.

[2016-05-04 08:05] #55 closed

[2016-05-04 08:06] Tzky commented on #61
I fixed the border width and the missing transitions of the buttons in 9e17737.
The about text is now wider too (901de56).

[2016-05-04 08:14] Tzky commented on #26
This should be fixed with 901de56

[2016-05-04 08:14] #26 closed

[2016-05-04 09:11] Inscrutable opened #72 "Grammar needs fixing on SV description"
The wording: "SpongeVanilla is the implementation of the Sponge API on top Vanilla Minecraft." is not good.
Try "on top *of* Vanilla MC", or  perhaps "onto" or "atop" Vanilla MC.

[2016-05-04 09:13] Inscrutable opened #73 "Amend Docs link"
Under the "Contributing" heading, the Docs link just leads to the Docs main page... It should really link to SpongeDocs on GitHub, or (as a poor alternative) the "contributing" page of the docs. There's already a link to the SpongeDocs just under the main banner anyway.

[2016-05-04 09:22] Inscrutable commented on #32
How about "Our Team is drawn from diverse parts of the Minecraft modding community, and has broad and extensive experience working with Minecraft and modding."   ... or edit for brevity.

[2016-05-04 09:33] #73 closed

[2016-05-04 09:33] #72 closed

[2016-05-04 09:51] Tzky opened #74 "Purge Fastly cache?"
Not exactly an issue, but a question:
Do we need to purge the fastly cache just like on the docs when building SpongeHome?

@lukegb will probably know... :)

[2016-05-04 10:18] Tzky commented on #11
The mobile issues should be fixed as of 62f45b9 and 31644ba

[2016-05-04 10:18] #11 closed

[2016-05-04 11:16] Tzky commented on #32
Isn't this resolved anyways? The whole About section got changed...

[2016-05-04 11:39] Tzky commented on #53
Most (if not all) of this should be resolved in 9400895, so closing for now.
Please reopen if you feel that an issue wasn't fully adressed.

[2016-05-04 11:39] #53 closed

[2016-05-04 11:56] progwml6 commented on #74
Yes we will, and I can look into this tonight assuming @lukegb doesn't get to it first

[2016-05-04 13:32] m0pt0pmatt opened #75 "Icons collide with each other on mobile device"
Phone: Samsung Galaxy S6 Edge.

The forums/code/javadocs/etc icons run into each other.

Portrait:
http://postimg.org/image/6w7nejyqp/

Landscape:
http://postimg.org/image/i5l7i5ktd/

[2016-05-04 13:36] m0pt0pmatt opened #76 "Page is too wide on my mobile device"
Phone: Samsung Galaxy S6 Edge

The width of the page is a little too wide for my phone.

http://postimg.org/image/kuajl6rkx/
http://postimg.org/image/4b17hs00x/

[2016-05-04 13:43] Tzky commented on #75
I noticed this too, but couldn't find a quick fix yet.

[2016-05-04 14:35] Tzky commented on #76
We don't have adverts on our site. Can you get rid of them and report back if the issue persists?

[2016-05-04 14:49] jamierocks commented on #76
This issue was silently fixed in https://github.com/SpongePowered/SpongeHome/pull/71 :P

[2016-05-04 16:29] gabizou commented on #32
@Tzky it's still an issue because instead of it being in the About section, it's now at the bottom under "Experienced Staff".

[2016-05-04 16:30] jamierocks commented on #32
How is @Inscrutable's suggestion @gabizou ?

[2016-05-04 16:32] gabizou commented on #32
@jamierocks that's fine.

[2016-05-04 16:32] jamierocks commented on #32
Alright - making a pr now ;)

[2016-05-04 16:37] gabizou opened #78 "Fix BeastNode's Logo"
There's a difference between:
![beastnode](http://puu.sh/oG5Tp/bd31a09d70.png)
And:
![sponge](http://puu.sh/oG5Vc/e4e61ada5b.png).

[2016-05-04 16:42] jamierocks commented on #78
#1

[2016-05-04 16:58] mbroomfield-r7 commented on #76
I'm still seeing the issue. The tab menu in the upper right corner can only be seen if I scroll the browser horizontally. Also, I'm still having the issue with the text (what the pics above show). All of this is because the page is slightly too wide.

[2016-05-04 16:58] mbroomfield-r7 commented on #76
Also, what do you mean by "adverts"?

[2016-05-04 17:01] Tzky commented on #78
Closing in favor of #1

[2016-05-04 17:01] #78 closed

[2016-05-04 17:02] Tzky commented on #76
Nvm, didn't realise that the ads are on the page you used to upload our Screens. We'll look into it.

[2016-05-04 17:05] #32 closed

[2016-05-04 18:12] Tzky commented on #76
I'll close as #71 got pulled. If your issue still persists, please report back and reopen :)

[2016-05-04 18:20] Faithcaio commented on #70
Maybe just put a thin black border around it?

[2016-05-04 18:46] windy1 commented on #70
Perhaps something like this?

http://imgur.com/zGGt0Fn

[2016-05-04 18:47] jamierocks commented on #70
@windy1 ooh - that's nice

[2016-05-04 19:06] windy1 commented on #70
@jamierocks

http://imgur.com/a/PIcZd

[2016-05-04 19:13] Tzky commented on #70
@windy1: Can you style them according to the soon to be branding manual?
Afaik there are some colour palettes in there.

Looks good, but we still need to get rid of the tripple Spongie face...

[2016-05-04 19:18] windy1 commented on #70
http://imgur.com/a/OQWeR

Here's an updated version. What is breaking the branding manual @Tzky besides the off brand colors here which I thought we were making an exception for.

[2016-05-04 19:19] Tzky commented on #70
I was refering to the colors, that'd be the only thing you'd have to change. If we're making an exception here, then nvm.

[2016-05-04 19:20] windy1 commented on #70
Here's how it looks on the site.

http://imgur.com/SGbYgIc

[2016-05-04 19:28] jamierocks commented on #70
i would make the vanilla colour slightly darker

[2016-05-04 19:34] windy1 commented on #70
This might be a better color although not really darker. Any darker and it just kind of looks brown so we should either stick with something like this or ditch the "cream" color entirely.

http://imgur.com/4zjf9Je

And here's an xcf of all of them if you wanna mess with them some more.

https://drive.google.com/file/d/0B3_zPvLGAA8MeC0xTVlnT1BqYVE/view?usp=sharing

[2016-05-04 19:35] Tzky commented on #70
Hmm, what about using `#910020`, `#009172` and `#917300` ?
(they're all on-brand colors)

[2016-05-05 01:12] progwml6 commented on #70
i think that @Tzky's colors  with @windy's images might look nice

[2016-05-05 01:34] windy1 commented on #70
Ask and thou shall [receive](http://imgur.com/a/PR2Qp) :pray:

[2016-05-05 07:21] Tzky commented on #76
Just tested on my Xperia Z1C. The issue still persists.

[2016-05-05 07:24] jamierocks commented on #70
:+1:

[2016-05-05 07:25] jamierocks commented on #76
Yes - I only fixed the headings inside the announcements

[2016-05-05 07:26] felixoi commented on #75
I also saw this. The columns are placed right but the content is bugging out.
http://imgur.com/E0dnRRU

[2016-05-05 07:28] jamierocks commented on #75
Yeah - this is a simple fix. I'll get to it when schools finished.

[2016-05-05 08:12] Tzky commented on #70
Hmm, @windy1s logos look way better than the old. However i'd like to get rid of Spongie too. That's my try on it, i'm not happy with it yet, though. Left is my try, in the middle is windys, on the right is the old one. Thoughts?

![unbenannt](https://cloud.githubusercontent.com/assets/10940670/15039075/e0e72b4a-12a9-11e6-8194-3d5c5ef6b7f7.PNG)

[2016-05-05 10:04] jamierocks commented on #70
I rather like @windy1's ones

[2016-05-05 10:51] Tzky commented on #70
Agreed. That's why I already pushed them to master ;)

[2016-05-06 16:49] Tzky commented on #75
This should be resolved with 4680284

[2016-05-06 16:49] #75 closed

[2016-05-06 16:50] Tzky commented on #70
Windys Logos with the onbrand colors solved this issue.

[2016-05-06 16:50] #70 closed

[2016-05-06 19:49] SirFaizdat opened #79 "Sponsors section on homepage is not positioned correctly"
![screenshot](http://i.imgur.com/e3CJJo3.jpg)

**The problem:** The sponsors section on the homepage is positioned below the masthead text.
**Expected behavior:** The sponsors section should be to the right of the masthead text.

[2016-05-06 19:54] jamierocks commented on #79
Duplicate of https://github.com/SpongePowered/SpongeHome/issues/68 ;)

I have been investigating this issue, problem is however Apple make nothing easy and like opening a Mac up in 2016 developer tools are none-existent :P

[2016-05-06 20:00] #79 closed

[2016-05-06 20:09] InterStena opened #80 "Looks weird on 4:3"
I use safari 9.1 on my mac mini with 4:3 monitor (1280x1024). And this page looks weird on this screen resolution.
http://i.imgur.com/6W8MHv5.jpg

[2016-05-06 20:21] stephan-gh commented on #80
Working fine on Firefox with the same resolution

[2016-05-06 20:24] Tzky commented on #80
It should be related to Safari. Using other browsers seems fine. This is possibly a duplicate of #68, so closing for now

[2016-05-06 20:24] #80 closed

[2016-05-06 20:25] windy1 commented on #68
@jamierocks

Here's a fix that should work for you:

[code]

[2016-05-06 20:27] benazarenko commented on #80
I tried to use fix from #68 and it finally looks good.

[2016-05-06 20:33] jamierocks commented on #68
Oh thanks ;)

[2016-05-08 03:12] SirFaizdat commented on #68
In @windy1's fix, perhaps the padding could be increased a bit more. It looks too cramped:
![cramped](http://i.imgur.com/Z394UgA.jpg)

[2016-05-10 12:22] Tzky commented on #61
0ab938e fixes the copyright notice at the bottom (it's `0.8em` and `text-align:left` now)

@windy1
Is having Spongie 3 times in the downloads section still an issue?

[2016-05-10 15:03] windy1 commented on #61
No I think it's OK actually.

[2016-05-10 15:03] #61 closed

[2016-05-10 19:54] Tzky commented on #25
Opened #83 to resolve this issue, please comment there.

[2016-05-10 22:00] progwml6 commented on #66
@lukegb is this a requirement fastly has given us?

[2016-05-10 22:11] progwml6 commented on #3
Bump, we have fixed some more issues with the navbar on mobile devices in the last week

Is this issue resolved now?

[2016-05-11 08:05] Tzky commented on #3
Mobile issues remain, but that's what #76 is for. I vote for close on this one.

[2016-05-11 11:16] JBYoshi commented on #3
The icons still don't match the docs (and what the forums previously had). Looks like those use entypo instead; SpongeHome and Ore use fontawesome.

[2016-05-11 11:17] Tzky commented on #3
This is correct and the Docs will get FA too when SpongeHome is ready. So it's not an issue on SpongeHome but rather the Docs and Forums.

issue on the docs theme repo:
SpongePowered/sponge_docs_theme/issues/15

[2016-05-11 11:41] Tzky commented on #76
Fixed with 3391442

[2016-05-11 11:41] #76 closed

[2016-05-12 11:47] Feeliiix opened #84 "Buggy Nav on Mobile View"
https://imgur.com/euFgDvo

[2016-05-12 13:43] Mumfrey commented on #52
The following are still not resolved in the current build:
- [x] Some components (notably the "get sponge" buttons, and some body text) use #2c3e50 which is an off-brand colour which is basically a very dark navy blue, this should be replaced with 20% grey (#333333)

This applies to **all** of the body text on the `/sponsors` page as well as the "News" block text on the main page and the text "Get

[2016-05-13 19:59] Tzky commented on #84
Can confirm, i have the same issue on mobile. We'll look into it asap.

[2016-05-13 20:59] Tzky commented on #52
Fixed in 73776e1. If anything is still off, then bootstrap is messing with our colors.

[2016-05-13 22:16] #52 closed

[2016-05-14 10:08] Tzky commented on #25
I just merged #83, so closing this issue.

The license excludes the assets currently, we still need to choose a license for them elsewhere.

[2016-05-14 10:08] #25 closed

[2016-05-14 13:43] #66 closed

[2016-05-15 09:03] Tzky commented on #84
Fixed in 4380218.

@Feeliiix
Can you report back if this issue is fixed on your end?

[2016-05-15 09:03] #84 closed

[2016-05-15 09:06] Tzky commented on #3
Update: The Docs are using FontAwesome now.

[2016-05-15 09:12] Tzky commented on #14
Bump. Is this still an issue, @Zidane? The whole page got more or less changed since you reported this issue... :)

[2016-05-15 09:15] Tzky commented on #49
The sponsors sevtion got overhauled, so this issue is solved. The about section however is still the same. I must admit that i don't find it hard to read...

@ryantheleach:  Is this still an issue?

[2016-05-16 07:33] Feeliiix opened #87 "Bug in Social Icons on Mobile View"
https://imgur.com/4xKaUbH

[2016-05-16 07:54] jamierocks commented on #87
Hmm probably doesn't have the mobile grid classes.

[2016-05-18 09:37] Tzky commented on #87
Fixed in 7a6d93d.

[2016-05-18 09:37] #87 closed

[2016-05-18 14:11] theboomer opened #88 "API Download link"
IF the site is going to provide a link to download the API files as it is doing, then please, get the site fixed.
The page currently linked has up and died two months ago and is not dynamic, missing the 2+ months of files that exist since then.
The dynamic page-updating part vomited on something from an auto-build in march and its preventing the page from displaying anything else

Otherwise, could

[2016-05-18 21:14] Tzky commented on #88
Actually that's not an issue of SpongeHome, so closing this. However there seems to be an issue with the maven repo of the API and the website you mentioned, we're investigating it.Thanks for reporting :)

[2016-05-18 21:14] #88 closed

[2016-05-23 22:13] Tzky commented on #74
It's been 19 days.

Bump. ;)

[2016-05-28 20:23] XakepSDK opened #90 "Website does not work"
Website does not work. 503 error.

[2016-05-28 20:23] Zidane commented on #90
We are aware and are investigating.

[2016-05-28 20:23] #90 closed

[2016-05-29 19:13] progwml6 commented on #74
purging the fastly cache is simple(and working in local tests), however ensuring that it doesn't happen until the new version of the site has deployed is not, and requires some behind the scenes changes to get it running fully

[2016-06-24 14:27] Zidane opened #94 "Change Sponge writing to actually fit branding guidelines"
In talking with our friends over at Resonant Rise, they brought up a good point that the writing at the top left on all navbars actually violates our own branding guidelines. This also does not help us in wanting to have a consistent image to people who visit our pages. We need to get the font changed to one that fits our guidelines (which is Montserrat I believe). This change will happen all acro

[2016-06-24 14:35] Mumfrey commented on #94
**Montserrat** is the identity font, which should be used for logo text and things like headings. For body fonts any sans font can be used (within reason, eg. use same font throughout entire publication/site) or use of **Lato** where possible is encouraged.

[Branding guidelines](https://drive.google.com/file/d/0B0_Vyme6I-EwTk9HUWtSdDNxaFU/view?usp=sharing)

[2016-06-24 14:37] Zidane commented on #94
@Mumfrey

I would argue that this isn't a body font and would argue further that it is most definitely a logo. Its the first to draw people's eyes on entering our sites and is a key part of our web identity.

[2016-06-24 14:41] Mumfrey commented on #94
Do you mean the word **Sponge** on the navbar? Yes that's most definitely a logo and should therefore be **Montserrat**.

[2016-06-24 14:41] Zidane commented on #94
@Mumfrey

Correct (I'm lazy and didn't take a snip).

[2016-06-26 11:42] benazarenko commented on #68
Can someone fix it? I don't want to change style with addons.

[2016-06-27 17:22] mcsnetworks opened #95 "Add ServerMiner.com to our sponsorship sections"
We have a new sponsor coming onboard:

https://serverminer.com

Logo:  http://www.almuramc.com/images/Border.png

They need to be at position #4.

Please PM Dockter for additional details.

[2016-06-27 17:34] jamierocks commented on #95
I'll get on that ;)

[2016-06-27 21:11] #95 closed

[2016-07-17 11:44] benazarenko commented on #68
Sorry for spamming but fix it please!

[2016-07-17 17:02] jamierocks commented on #68
@InterStena This is an interesting issue, and the fix presented above does not solve the issue properly. There have been a number of attempts to fix the issue, and a large refactor from flexbox to bootstrap's own grid system was even done - however none of these have proved to work :(

[2016-07-17 17:18] MichaelHillcox commented on #68
I'll look into it now :)

[2016-07-17 17:38] MichaelHillcox commented on #68
That should fix it up nicely @jamierocks its a little hacky but its good :)

[2016-07-17 20:06] MichaelHillcox commented on #14
@Tzky I would definitely say that this issue has been fixed.

[2016-07-17 20:08] MichaelHillcox commented on #49
@Tzky This is also very much no longer an issue.

[2016-07-17 20:27] #49 closed

[2016-07-17 20:29] #14 closed

[2016-07-17 20:38] progwml6 commented on #74
Update: code is mostly done, just working on how to identify if staging or production is running

[2016-07-17 21:42] Aaron1011 opened #98 "Add downloads link to 'Quicklinks Section'"
Currently, 'Quicklinks Section' (containing the buttons 'Forums', 'Code', 'Javadocs', etc.) lacks a download button. The only way to download Sponge from the home page is to use the comparatively difficult-to-spot 'Downloads' button in the upper right-hand corner, or scroll a significant distance down to the 'Get Sponge' section.

Since people visiting the home page are probably going to be server

[2016-07-19 12:42] JBYoshi commented on #98
I'd say replace the Javadocs button. Most developers are using Maven/Gradle and an IDE, and since Maven and Gradle download the sources, the IDE gets access to the Javadocs via them.

[2016-07-19 17:08] Tzky commented on #98
- The dropdown on the top left of the page already has a `Get Sponge` button.
- I'll replace the link to the Javadocs on the grey main bar with a `Get Sponge` button.

Have a look at c2ba107.

[2016-07-19 17:10] Tzky commented on #94
Fixed in 6645d74.

[2016-07-19 17:10] #94 closed

[2016-07-19 17:12] #98 closed

[2016-07-19 19:34] Mumfrey commented on #94
You used Montserrat Regular rather than Montserrat Bold.

[2016-07-19 19:35] Tzky commented on #94
Yes, i'll correct that mistake in a bit and swap regular with bold. Thanks for mentioning this :)

Edit: Fixed in 7dcf7bb.

[2016-07-23 00:29] #74 closed

[2016-07-23 12:38] #68 closed

[2016-07-31 02:45] progwml6 commented on #1
bump again ...

If this is not resolved please list which logos need updating

[2016-08-02 14:47] MichaelHillcox commented on #3
The fonts bigger on the homepage and docs than it is on the forums ( thats the logos font size ).
Homepage has padding-right and margin right for the nav container and then the last-child li element. Meaning the items on the right have more space from the edge of the container than they do on spongedocs and forums.

[2016-08-02 14:48] MichaelHillcox commented on #4
Going to have to say this one is done seeing as we are not getting an answer and since the time this was first made the majority of the icons have been changed.

[2016-09-08 10:10] jamierocks commented on #1
Now Nitrous is no longer a sponsor, I believe this issue is resolved.

[2016-10-02 18:57] randombyte-developer opened #103 "Spacing issue"
Because there is no 'OCD minor issues' issue I have to create this one. Also I didn't want to create a PR just for this.

[In this line](https://github.com/SpongePowered/SpongeHome/blob/0d271ee2d4dedac62fb11d4bb4f107536b4e9a1d/templates/base.html#L100) should be a space between 'on' and 'GitHub'.

[2016-10-02 19:01] jamierocks opened #104 "Ongoing Minor Issue List (OCD List)"
This issue contains a list of OCD issues to be corrected in bulk every so often.

- [ ] [base.html](https://github.com/SpongePowered/SpongeHome/blob/0d271ee2d4dedac62fb11d4bb4f107536b4e9a1d/templates/base.html#L100) Missing space between on and GitHub

[2016-10-02 21:29] Tzky commented on #103
Closing in favor of #104.
Thanks for reporting it :)

[2016-10-02 21:29] #103 closed

[2016-10-12 22:08] jamierocks commented on #4
Fairly certain this can be closed ;)

[2016-10-13 06:29] #4 closed

[2016-10-23 14:21] Minecrell opened #110 "Website does not properly redirect to HTTPS"
http://www.spongepowered.org redirects all HTTP requests to HTTPS, however that doesn't seem to happen for http://spongepowered.org and http://www-staging.spongepowered.org.

This cannot be reproduced on Chromium based browsers because they redirect it internally (without contacting the server) because `spongepowered.org` is on the preloaded HSTS list (including all subdomains).

~~I've noticed th

[2016-10-23 19:14] lukegb commented on #110
The HTTP version doesn't have all the `<script>` tags stripped, so I don't know why you're seeing that in particular. (At least, not for curl or Firefox...)

[2016-10-24 12:10] stephan-gh commented on #110
@lukegb ~~I don't know why the `<script>` tags were stripped for me, but~~ we really should just redirect all HTTP requests to HTTPS.

[2016-10-24 18:34] progwml6 commented on #110
@Minecrell what browser/os was this under?

[2016-10-24 18:35] stephan-gh commented on #110
@progwml6 I don't get redirected on Firefox (Chrome redirects internally because `spongepowered.org` is on the preload HSTS list).

[2016-10-25 02:33] JBYoshi commented on #110
`http://spongepowered.org` redirects to HTTPS now... but not `https://spongepowered.org`. It goes to `https://production-spongehome.apps.spongepowered.org/`. Weird.

`http://www-staging.spongepowered.org` is unaffected.

[2016-11-07 19:36] MichaelHillcox opened #115 "If nobody else has seen"
https://repo.spongepowered.org/maven/org/spongepowered/spongeapi/

Looks like the download buttons aren't working on the current live website.

[2016-11-07 19:52] stephan-gh commented on #115
The link is correct, the downloads page is just down. @lukegb

[2016-11-07 19:57] MichaelHillcox commented on #115
Thought as much :)

[2016-11-13 13:30] MichaelHillcox commented on #115
Fixed

[2016-11-13 13:30] #115 closed

[2016-11-19 22:53] progwml6 commented on #110
the issue above is happening in firefox, there's nothing in the rules to explain why this is occurring

[2016-11-20 01:47] JBYoshi commented on #110
A raw `GET` to the server returns a "301 Moved Permanently" with a `Location` header of `https://production-spongehome.apps.spongepowered.org/`.

![Screenshot](https://cloud.githubusercontent.com/assets/12983479/20459712/e82fca32-ae90-11e6-8885-4da0c7af88c9.png)

[2016-11-20 20:41] doncullen opened #117 "Forums / Plugins completely offline, says server is offline"
Says:

[code]

[2016-11-20 22:40] JBYoshi commented on #117
Still down. Possible reasons:
- The forums may be doing an [upgrade](https://github.com/discourse/discourse/commits/master).
- There have been [plans](https://github.com/SpongePowered/Ore/issues/170) to migrate the login system to a [separate website](https://github.com/SpongePowered/SpongeAuth), and the forums may be purposefully down so no changes occur during the migration to mess it up.

[2016-11-20 23:59] aylacullen commented on #117
Update: it's back online now.  Closing as resolved.

[2016-11-20 23:59] #117 closed

[2016-11-21 03:45] progwml6 commented on #117
for reference @JBYoshi we run multiple instances so that upgrades don't result in taking the forums down

[2016-11-23 17:00] mcsnetworks opened #118 "Backup website for when main services are down"
Can someone with the knowledge configure fastly to display a "Our services are currently under maintenance" when the main web server is down vs. the current "503 error" we are getting during our maintenance window?

[2016-11-23 17:40] progwml6 commented on #118
this needs to happen for all frontend facing sites/services

[2016-11-26 17:50] stephan-gh commented on #110
Doesn't happen anymore for me, redirection works fine now.

[2016-11-26 17:50] #110 closed

[2016-11-28 14:28] #118 closed

[2017-02-09 13:44] Minecrell opened #124 "Update for changes in Montserrat font"
Montserrat was recently updated on Google Fonts and the new version looks a bit different. The bold version is now much bolder. A new semi-bold version was added which looks similar to the previous version.

The SPONGE button looks a bit squashed now. We have a reduced `letter-spacing` currently, however it looks quite weird with the new font version:

  | Old | Now |
  | - | - |
  | ![](https://i

[2017-02-10 12:40] Tzky commented on #124
~I'd keep the current look. If that means that we have to use Montserrat semibold (is this option available?), so be it.~

EDIT:
Just doublechecked. I'd keep everything with the new font. The only change i'd make is the spacing on the dropdown (shown above). Everything else is fine.

[2017-02-10 16:04] stephan-gh commented on #124
Fixed in https://github.com/SpongePowered/SpongeHome/pull/125

[2017-02-10 16:04] #124 closed

[2017-03-12 10:19] ImMorpheus commented on #104
Adding ocd as pointed out in the pull request

- [ ] Make the home html5 compliant
- [x] Use optimized img
- [x] Switch to https
- [ ] Better cache directives
- [ ] Use csp

[2017-03-12 14:25] progwml6 commented on #104
the hour part is intentional in this case for those types of images

[2017-03-12 22:34] ImMorpheus opened #130 "Getting nginx version"
Normally the website (at least the home) hides server info/version, in fact
[code]
Moreover 403 errors are redirected to 404, thus masking possible server info in the error page
[code]
But what if we try to get a 405 (Method not allowed) error page. Well, it is not redirected and returns the nginx version:

[code]

Showing webserver version is bad :( .
Also, why is there a sponge-debug header ? (c

[2017-03-13 13:02] lukegb commented on #130
Thanks for your report. The Server header is actually sent in HTTP/1.1 responses, even on www:

[code]

I'm not overly concerned about leaking the nginx version string.

The `Sponge-Debug` header is just there for me to put stuff in from time to time (although at the moment it's just the same as Date, give or take). If you're observant you'll notice that occasionally there are other Sponge- header

[2017-03-13 13:02] #130 closed

[2017-03-13 17:59] ImMorpheus commented on #130
Sorry to bring the issue up again but I don't agree with this and think this is being underestimated. Maybe I didn't give this enough importance by saying "Showing webserver version is bad :( ".
Web Server Fingerprint is a serious issue and hiding server info should be common practice (at least from a netsec point of view), (owasp has some good pages about the argument). For example, knowing the n

[2017-03-13 19:51] MichaelHillcox commented on #130
I highly agree with @ImMorpheus showing the server is a slight security issue... Although just doing a simple http post request to the server you can get the data back in the header of the responce.

[2017-03-13 20:06] lukegb commented on #130
Web server fingerprinting is not a _serious_ issue. At best, it's something that a pen tester would warn about, but it's not exactly a cause that anyone (competent) would fail a pentest for. nginx isn't even the main web server here, it's just acting as a reverse proxy (similarly to Varnish, which I notice you didn't point out at all in the headers).

If you follow your argument to its logical con

[2017-03-13 22:41] ImMorpheus commented on #130
Yeah, maybe the gravity of the issue is subjective (given that it's a critical task for pentester), I was merely expressing my view on the argument which hasn't changed.

The problem here was the server, not SpongeHome code. Having the code open sourced and avalaible for audit doesn't justify the fact that we leave behind security problems like this (even if they look small for certain people)

Ha

[2017-03-13 23:14] lukegb commented on #130
That's fine, we'll agree to disagree. Maybe the situation will change at some point and I'll start caring, but there are worse problems (which I will leave as an exercise to the reader).

Bear in mind, though, that HTTP requests pass through at least one layer of sanitisation before they even get to nginx, and nginx really isn't doing a whole lot.

My point with the 403 being redirected to 404 - t

[2017-03-13 23:19] mbax commented on #130
Surely a bot trying to break in via exploit is just going to hit you with the exploit attempt whether your version matches or not? If it works, great! If it fails, oh well moving onto next target.

[2017-03-13 23:21] lukegb commented on #130
Yeah, but it's really more about determined attackers.

[2017-03-13 23:25] lol768 commented on #130
Curse expose the IIS version string, so it must be a secure thing to do!

[code]

[2017-06-09 13:00] JBYoshi opened #131 "Downloads page version selector usability issue"
When I go to the downloads page on my phone, there is only one Minecraft version visible without using the dropdown menu. When I select something in that dropdown menu, the latest version is the only one visible, and it looks (from the version selector alone, though usually someone would be focusing on that) as if the selected version hadn't changed. For example, in this screenshot I have selected

[2017-06-22 14:23] SjsolisZXA opened #133 "forums.spongepowered.org Poll Data Load Issue"
Hello, I conducted a poll [here](https://forums.spongepowered.org/t/quick-poll-server-with-mods-vs-server-without-mods/18663), and now I need to retrieve the name of users who voted to participate in the alpha testing of a plugin I've developed. When I tried to click on: "Show Results" > "↓ ", a infinite loading symbol keeps rolling and doesn't show me any results. Below are my specs.

**OS:** Win

[2017-06-22 15:26] jamierocks commented on #133
This is the repository for SpongeHome - the SpongePowered website, not the forum.

[2017-06-22 17:04] SjsolisZXA commented on #133
The bug is in the forums site itself, which is part of the website.

[2017-06-22 17:11] jamierocks commented on #133
The forum is a completely separate web property from the SpongePowered website. This issue tracker is for issues pertaining to the SpongePowered site.

**EDIT**: You were previously directed to report this on the forum -> https://github.com/SpongePowered/SpongeCommon/issues/1405#issuecomment-310343713

[2017-06-22 17:13] #133 closed

[2017-11-26 15:38] ziceptor opened #138 "Error 500"
login -> error 500

[2017-11-26 15:42] stephan-gh commented on #138
Fixed

[2017-11-26 15:42] #138 closed

[2018-01-03 01:04] phase opened #139 "Sponsorship API"
(This was briefly discussed in https://github.com/SpongePowered/Ore/pull/310)

There should be a way to retrieve sponsorship information, and a way to determine how much they have donated, whether that be raw numbers, percentages, tiers, etc.

cc @Dockter

[2018-01-03 09:10] stephan-gh commented on #139
We could easily deploy the JSON file that is used for SpongeHome: https://github.com/SpongePowered/SpongeHome/blob/master/sponsors.json

Does it contain everything that is needed? It could be extended with mOre information if needed.

[2018-01-03 16:28] jamierocks commented on #139
Not sure if that is something that the sponsors, or SpongePowered, would want to disclose.

[2018-01-03 22:55] phase commented on #139
Well if @Dockter wants to have bigger sponsors appear more on Ore, we need to have some way to determine that.

[2018-01-04 05:11] progwml6 commented on #139
in this case actual financial amounts wouldn't be posted just a percentage of time or level that particular sponsor should be displayed at for logic in the sites to use

[2018-01-04 14:51] stephan-gh commented on #139
The sponsor list is ordered, so there is a certain ranking already. Enough for SpongeHome, but maybe Ore needs more information if not all sponsors are shown on the page.

[2018-01-16 04:41] ryantheleach commented on #131
I ran into this problem and I think it's a large reason why the download page has mildly confused me.

![image](https://user-images.githubusercontent.com/141554/34971931-fb4ec53e-facd-11e7-9492-3fa5621df627.png)

Showing 1.12, but downloads listed are 1.10

[2018-01-16 09:33] stephan-gh commented on #131
Originally I wanted to make the dropdown arrow colored, but I couldn't quite get that working without ugly hacks. It might make more sense to always make sure the currently selected version is shown on top-level, i.e. add them to the main list when they are selected.

[2018-01-16 18:17] MichaelHillcox commented on #131
Who is downloading the .jar on their phone? Not to be that guy but like, it seems like a real non issue to me? I work in the sector and this is the sort of thing you have to fingure out if you want to waste time on or not for the 0.1%

[2018-01-16 18:31] stephan-gh commented on #131
The same applies on the desktop.

[2018-01-17 16:31] MichaelHillcox commented on #131
@Minecrell Ignore me then, I miss understood the issue 😨

[2018-02-01 15:17] phit opened #140 "Rework downloads page"
Adding to https://github.com/SpongePowered/SpongeDownloads/issues/8

Downloads page should be removing the highlight on Latest Build and instead show Recommended Build at the top, hiding all other versions in a spoiler like the [Forge site](http://files.minecraftforge.net/) does.

Stable should be renamed to Release, as it doesn't imply stability. Recommended Build will be instead the stable versi

[2018-02-17 20:06] stephan-gh commented on #140
Moved to https://github.com/SpongePowered/SpongeDownloads/issues/1

[2018-02-17 20:06] #140 closed

[2018-02-17 20:07] stephan-gh commented on #131
Moved to https://github.com/SpongePowered/SpongeDownloads/issues/2

[2018-02-17 20:07] #131 closed

[2018-03-01 00:23] Zidane opened #141 "Main page isn't updating current announcements"
cc @progwml6

[2018-03-01 01:26] progwml6 commented on #141
A restart was needed to cause updates to get to the homepage, busting the cache did not help.

Something needs to be written to check for new updates periodically and bust the cache when new ones are found

[2018-03-01 10:33] stephan-gh commented on #141
Fastly should be configured to cache the announcements for up to one hour, then consult the backend server for updates.

However, it seems like something is wrong with the response headers - instead of replacing the static content cache configuration that we're using by default, it seems to add the `Surrogate-Control` header twice:

[code]

If Fastly is using the last header, it would cache the an

[2018-03-01 11:07] #141 closed

[2018-04-24 09:10] AlexKoala opened #144 "Multilingual Support"

[2018-07-29 07:56] dualspiral opened #147 "Add opt-in/opt-out for Google Analytics"
Something that was discussed last night at SPAM was the use of Google Analytics and its role with the GDPR. @Zidane asked me to post this here so it doesn’t get lost.

I don’t know GA that well, so I did a quick bit of research Google Analytics about who is what with regards to the data- Google is the **Data Processor**, we are the **Data Controller** - _we_ control what data is sent to Google mak

[2018-07-29 09:34] stephan-gh commented on #147
Frankly I'm wondering if we need GA at all. I never look at it and I haven't heard of anyone else using it regularly (yet?). Data is best saved by not collecting it at all.

If we do want some basic statistics it might make more sense to set up a self-hosted version of [Matomo/PIWIK](https://matomo.org). It's open-source, and probably has much more privacy features than GA. As far as I know it cou

[2018-08-25 21:39] dualspiral commented on #147
We've just talked about this at SPAM, and we think it's better to simply remove GA.

[2018-08-25 21:54] #147 closed

[2018-12-05 21:07] randombyte-developer opened #153 "Sponge logo and arrow is too close"
![bildschirmfoto vom 2018-12-05 22 03 21](https://user-images.githubusercontent.com/10366256/49544010-05e12400-f8da-11e8-8e02-4fae5a9d0042.png)

Spongie needs a bit more freedom I think, the arrow is so close.

`Chrome Version 70.0.3538.110 on Linux Mint`

Edit: This only happens when viewing a topic, not when being in the Discourse overview.

[2018-12-05 21:09] ItsDoot commented on #153
Reproduced on Chrome 70.0.3538.110, Windows 10

[2018-12-05 21:12] felixoi commented on #153
Moved to https://github.com/lukegb/discourse-spongepowered-navbar/issues/8

[2018-12-05 21:12] #153 closed

[2018-12-05 21:12] jamierocks commented on #153
I can also confirm on Firefox 63.0.1, however this is an issue for https://github.com/lukegb/discourse-spongepowered-navbar/ :)

[2019-06-27 17:14] phit opened #156 "Add Discord to social buttons at bottom of page"
as title, put it next to reddit/twitch etc

[2019-06-27 17:46] jamierocks commented on #156
Ideally this would involve replacing an existing social link - Facebook seems the best to replace imo, though Reddit could work too.

[2019-06-28 09:05] jamierocks commented on #156
As an aside, this has always been something to do - just font awesome didn't have a Discord icon back in 2016.

Good opportunity to go through Home and update font-awesome, and look into whether we can use one of their smaller distributions.

[2019-06-29 15:20] LloydCharlesT opened #157 "Port"
How to change port? (Where is the env file)

[2019-06-29 18:46] simon816 commented on #157
In the README it says that the `PORT` environment variable sets the port https://github.com/SpongePowered/SpongeHome#environment-variables

So run it with `PORT=80 go run spongehome.go` or whatever

[2019-06-29 18:51] LloydTrevelyan commented on #157
Oh tyy i didnt know how it worked

[2019-06-29 20:23] #157 closed

[2019-07-01 16:57] jamierocks commented on #3
Unless I'm missing something, this has been completely addressed?

[2019-07-01 17:00] #156 closed

[2019-07-02 14:15] #3 closed

[2019-09-28 16:58] jamierocks commented on #104
- Remove links to Sponge IRC communications on the Chat page, seeing as the bridge is not longer maintained.